[buildout]
develop = .
parts = test py

[test]
recipe = zc.recipe.testrunner
eggs = zc.ngi [test]

[test2.4]
recipe = zc.recipe.testrunner
eggs = zc.ngi [test]
python = python2.4

[test2.5]
recipe = zc.recipe.testrunner
eggs = zc.ngi [test]
python = python2.5

[test2.6]
recipe = zc.recipe.testrunner
eggs = zc.ngi [test]
python = python2.6

[py]
recipe = zc.recipe.egg
eggs = zc.ngi
interpreter = py

