[buildout]
develop = .
parts = test py sphinx

[test]
recipe = zc.recipe.testrunner
eggs = zc.ngi [test]
initialization =
   import sys, warnings
   if sys.version_info >= (2, 7): warnings.simplefilter('default')

[test2.5]
<= test
python = python2.5

[test2.6]
<= test
python = python2.6

[test2.7]
<= test
python = python2.7

[py]
recipe = zc.recipe.egg
eggs = zc.ngi
interpreter = py

[sphinx]
recipe = zc.recipe.egg
eggs = sphinx
       Pygments
       zc.ngi
